@font-face {
  font-family: 'icomoon';
  src: url("static/fonts/icomoon/icomoon.eot?srf3rx");
  src: url("static/fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("static/fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */

body {
  font-family: "Roboto", Arial, serif;
  line-height: 1.8;
  font-size: 16px;
  background: white;
  color: #848484;
  font-weight: 300;
  overflow-x: hidden;
  padding: 0%;
}

.js-fullheight {
  height: 105vh;
}

.slider-bg {
  background-image: url('/static/images/portada.jpg');
  background-size: cover;
  background-position: center;
  height: 105vh;
  width: 100%;
}

/*Hace mas pequeña la imagen de las integrantes del grupo*/
.img-small{
  width: 200px;
  height: auto;
  max-width: 100%;
  display:block;
  margin: 0 auto;
}

/*Enmarca los filtros de buscar centros*/
form{
  background-color: #f8f8f8;
  padding:20px;
  border-radius: 4px;
  box-shadow: 0px 1px 10px rgba(177, 94, 40, 0.445);
  margin-bottom: 30px;
}

/*Negrita de las letras del formulario de buscar centros*/
form label{
  font-size: 16px;
  font-weight: bold;
  display:block;
  margin-bottom:8px;
  color:#181717c2;
}

/*Centra el boton buscar debajo de los filtros*/
form input[type="text"], form input[type="int"]{
  width:100%;
  padding:10px;
  margin-bottom: 15px;
  border:1px solid #ccc;
  font-size:14px;
  box-sizing: border-box;
}

/*Cambia algunos estilos de los botones buscar*/
form input[type="submit"], form button{
  background-color: #d3c3b5d2;
  color:black;
  border:none;
  padding:10px 20px;
  border-radius: 2px;
  font-size: 16px;
  transition: background-color 0.3s ease, text-shadow 0.2s ease;
}

/*Brillo del boton buscar dentro de buscar centros*/ 
form input[type="submit"]:hover, form button:hover{
  background-color: #b8915ed2;
  color:white;
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff;
}

/*Cambia estilos de boton añadir centros*/
form input[type="añadir"], form button{
  background-color: #6F4E37;
  color:white;
  border:none;
  padding:10px 20px;
  border-radius: 2px;
  font-size: 16px;
  transition: background-color 0.3s ease, text-shadow 0.2s ease;
}

/*Brillo del boton añadir centro dentro de añadir centro*/ 
form input[type="añadir"]:hover, form button:hover{
  background-color: #b8915ed2;
  color:white;
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff;
}

/*CREO Color de la infromacion al filtrar los centros*/
a {
  color: #bd844ff5;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/*Cambios en el estilo de la base de datos al buscar centros*/
a:hover {
  text-decoration: none !important;
  color: #bd844ff5 !important;
  text-shadow: 0 0 10px #bd844ff5;
}

/*Cambia el estilo de el texto en sobre nosotros*/
p, ul, ol {
  margin-bottom: 1.5em;
  font-size: 18px;
  color: #848484;
  font-family: "Roboto", Arial, serif;
}

/*Cambia los estilos del mision y vision*/
h1, h2, h3, h4, h5, h6 {
  color: #212121;
  font-family: "Roboto Slab", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}

/*CATA*/
::-webkit-selection {
  color: #fcfcfc;
  background: #FA7E0A;
}

/*CATA*/
::-moz-selection {
  color: #fcfcfc;
  background: #FA7E0A;
}

/*CATA*/
::selection {
  color: #fcfcfc;
  background: #FA7E0A;
}

/*CATA*/
.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Roboto", Arial, serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/*SUPUESTAS LETRAS BASE DE DATOS*/
#fh5co-services-section .card{
  color:red;
}
/*Cambio de color al pasar el mouse encima de añadir centro*/
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #DAC0A3 !important;
  border-color: #DAC0A3 !important;
}

/*Color de la letra boton de añador centros*/
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

/* Pequeña linea debajo del menu */
.sf-menu {
  margin: 0 !important;
}
/*Centra el menu de inicio*/
.sf-menu {
  float: right;
}
/*Pequeña sombra al menu*/
.sf-menu ul {
  box-shadow: none;
  border: transparent;
  min-width: 12em;
  width: 12em;
}
/*Todo el diseño de la barra de menu*/
.sf-menu a {
  color: rgba(0, 0, 0, 0.8);
  padding: 2.4em 1em !important;
  font-weight: normal;
  border-left: none;
  border-top: none;
  border-top: none;
  text-decoration: none;
  zoom: 1;
  font-size: 16px;
  border-bottom: none !important;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Roboto Slab", Arial, sans-serif;
  letter-spacing: 1px;
}
/*Sombra al pasa el mouse arriba de las opciones del menu*/
.sf-menu a:hover, .sf-menu a:focus, .sf-menu a.active {
  background: #e6e6e6 !important;
  color: #000 !important;
}
/*Transparencia a el resto de las opciones del menu*/
.sf-menu li,
.sf-menu ul li,
.sf-menu ul ul li,
.sf-menu li:hover,
.sf-menu li.sfHover {
  background: transparent;
}

/*Crea un menu flotante y le cambia el diseño*/
#fh5co-header-section {
  background: rgb(219, 215, 207);
  position: absolute;
  top: 40px;
  left: 0;
  padding: 0;
  width: 100%;
  z-index: 2;
  -webkit-box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 0.22);
}

/*--------------------------------------------------------------------------------*/
.nav-header {
  position: relative;
  float: left;
  width: 100%;
}
/*PARTE SARI--------------------------------------------------------------------------*/

/*MARGEN DE ARRIBA DONDE ESTA LOS COSOS PARA IR A LOS ENLACES*/

#fh5co-logo {
  z-index: 2;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  float: left;
  margin-bottom: 0;
  margin-top: 1.05em;
  display:flex;
  align-items:center;
  justify-content: flex-start;
}


/*LOGO CACTUS--------------- */

#fh5co-logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

#fh5co-logo img{
  max-height: 45px;
  margin-right: 10px;
  vertical-align: middle;
}
/*----------------------------*/

/*TITULO BRIGADA_SOLIDARIA PRINCIAPL */
#fh5co-logo h3 {
  margin: 0; 
  padding: 0; 
  font-weight: 700;
  color: #000000; 
  font-size:25px;
}

/*ES EL FONDO NEGRO DEL OSITO-----------------------------------------------------*/

/*el nivelado de la foto con la parte de abajo del difuinado */
#fh5co-hero {
  min-height: 700px;
}

#fh5co-hero .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
}

/*lo que se extiende del difuminado hacia abajo*/
#fh5co-hero .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 700px !important;
}

/*difuminado osito*/
#fh5co-hero .flexslider .slides .overlay-gradient {
  position: absolute;
  top: 0;
  bottom: -15px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}
/*----------------------------------------------------------------------------*/


/*TITULOS DE LAS PAGINAS  EN PANTALLA "SOBRE_NOSOTROS, CENTROS, ETC ------------------------*/

#fh5co-hero .flexslider .slider-text {
  display: table;
  opacity: 0;
  min-height: 700px;
  bottom: 0;
}

#fh5co-hero .flexslider .slider-text > .slider-text-inner {
  margin: 0;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  min-height: 700px;
}

#fh5co-hero .flexslider .slider-text > .slider-text-inner .heading-section {
  font-size: 50px;
  font-weight: 520;
  color:white;
  padding: 10px 20px;
  border-radius: 5px;
  text-shadow: 
    0px 0px 1px black, 
    0px 01px 1px black;
}

/*-------------------------------------------------------------------------------------------------*/


/*cuadro de JS del inicio "que dice proyecto ong"*/
#fh5co-hero .flexslider .slider-text > .slider-text-inner .desc {
  padding: 2em;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(219, 161, 107, 0.7);
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  line-height: 40px;
}

#fh5co-hero .flexslider .slider-text > .slider-text-inner .fh5co-lead {
  font-size: 20px;
  color: #fff;
}

/*-------------------------------------------------------------------------------*/

/*el borde blanco de pantalla que tienen sobre nosotros y buscar centros*/
#fh5co-work-section, #fh5co-services-section,
#fh5co-team-section {
  padding: 5em 0;
  justify-content: center;
}

/*fondo de pantalla de form nuevos centros*/
#fh5co-contact-section{
  padding: 5em 0;
  justify-content: center;
  background-color: #E8D0B3;
}

/*----------------------------duda de si es el form de la base de datos -----------------------------------*/
.contact-form {
  padding: 30px;  /* Espaciado interno del formulario */
  border-radius: 10px;  /* Bordes redondeados */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  background: #A67B5B;
  margin-top: 50px;  /* Separar el formulario de la parte superior */
  color:#4a4a4a;
  display:flex;
  flex-direction:column;
  gap:20px;
}

.contact-form input, .contact-form textarea, .contact-form button{
  width: 100%;
  padding:10px;
  border-radius: 5px;
}



#fh5co-services-section {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  flex-direction: column; /* Organiza los formularios en columna */
  margin-left:6.4em;
  gap:20px;
}

.services-inner button{
  padding: 10px 20px;
  background-color: #cc946e;
  color:white;
  border:none;
  font-size: 1rem;
  transition: all 0.3s ease;
}
/*--------------------------------------------------------------------------*/

/*------------IMAGENES INICIO-----------------------------------------------------------------*/


/*toda la seccion donde estan puestas las fotos*/
#fh5co-section {
  float: left;
  width: 100%;
  display: block;
}

/*tamaño de las fotos de inicio que llevan a los enlaces*/
#fh5co-section .grid-project-section {
  position: relative;
  
  width: 33.333333333%; /*ocupa un tercio del padre que seria widht 100% en fh5co section*/
  float: left;
  overflow: hidden;
}

/*imagen antes de tener el mouse encima en las fotos de inicio*/
#fh5co-section .grid-project-section > a > img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  filter: grayscale(100%);
  transition: all 0.3s ease;
}

/*aumento y brillo de la letra y foto cuando se pasa el mouse encima en las fotos del inicio*/
#fh5co-section .grid-project-section:hover > a > img {
  transform: scale(1.2);
  filter: brightness(0.8); 
}

/*ubicacion de la letra dentro de la fotos de inicio*/
#fh5co-section .grid-project-section .desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  text-align: center;
  bottom: 0;
  right: 0;
  padding-top: 30%;
  z-index: 99;
  padding: 40px 20px;
}

/*tamaño de letra de las fotos del inicio antes de pasar por encima */
#fh5co-section .grid-project-section .desc h2 {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
  font-weight: 600;
  font-size: 27px;
  font-family: 'Roboto Slab', Arial, sans-serif;
}

/*El color de las letras cuando se ponen encima de "Centros" "Buscar centros" en las imagenes del inicio"*/
#fh5co-section .grid-project-section:hover .desc h2 {
  color: #ffffff; 
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8); 
}

/*El difuminado negro encima de las fotos del inicio de "BUscar centros" "centros"*/
#fh5co-section .grid-project-section:after {
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  content: '';
  z-index: 9;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/*Color del fondo de las fotos de inicio cuando paso el mouse encima*/
#fh5co-section .grid-project-section:hover:after, #fh5co-section .grid-project-section:focus:after {
  background: rgba(0, 0, 0, 0.2);
}

/*separa los forms en dos y dos de buscar centro -----------------*/
.services-inner {
  margin-bottom: 4em;
}

/*margen de la foto de sobre nosotros con los nombres de la sintegrantes*/
.fh5co-staff img {
  margin-bottom: 1.5em;
}

/*letra negrita en sobre nosotros en los nombres d eintegrantes----------*/
.fh5co-staff h3 {
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 24px;
}

/*VERIFICADO HACIA ARRIBA--------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------------*/

#fh5co-contact-section .contact-info {
  margin: auto;
  padding: auto;

}
#fh5co-contact-section .contact-info li {
  list-style: none;
  margin: auto;
}
#fh5co-contact-section .contact-info li i {
  position: absolute;
  top: .3em;
  left: 0;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}
/*ver si lo de arriba es del otro form----------------------*/


/*estilo de los cuadrados blancos y lo de dentro, en forms añadir centro */
#fh5co-contact-section .form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: 400;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

/*borde de los forms cuando tocas para poner informacion de añadir centro */
#fh5co-contact-section .form-control:focus, #fh5co-contact-section .form-control:active {
  border: 1px solid rgba(71, 38, 6, 0.637);
}

/*agrande los nombre y direccion de los forms de añadir centro*/
#fh5co-contact-section input[type="text"] {
  height: 50px;
}

/*espaciado entre los forms de añadir centro */
#fh5co-contact-section .form-group {
  margin-bottom: 30px;
}

/*------------------------------------------------SE QUEDA LO DE ARRIBA--------------*/

/*------------------AGREGAMOS NOSOTRAS---------------------------------------------------------*/
#footer {
  width: 100%;
  float: left;
  background: #222831;
  padding: 0px 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

#footer .brigada{
  color: #bd844ff5;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#footer .brigada:hover{
  text-decoration: none;
  color: #bd844ff5;
  text-shadow: 0 0 10px #bd844ff5;
}

/*----------------------------------------------------------------------------*/

/*no hace nada pero si se saca de desconifugra la pagina*/
#offcanvas-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 99;
  background: #222;
  right: -240px;
  width: 240px;
  padding: 20px;
  overflow-y: scroll !important;
}

#map {
  height:500px;
  width:70%;
  border-radius: 10px;
  overflow: hidden;
  margin:40px auto;
}
/*----------------------------------------------------------------- TERMINA POR AHORA----------*/