<!DOCTYPE html>
<html class="no-js"> 
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %}Brigada Solidaria{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}">
	
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">
		
	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css') }}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<!-- Superfish -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/superfish.css') }}">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css') }}">
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	
	<!-- Leaflet -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" /> 
	<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
	
	<!-- Modernizr JS -->
	<script src="{{ url_for('static', filename='js/modernizr-2.6.2.min.js') }}"></script>
		
</head>
<body>
	<div id="fh5co-wrapper">
		<div id="fh5co-page">
			<div id="fh5co-header">
				<header id="fh5co-header-section">
					<div class="container">
						<div class="nav-header">
							<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
							<div id="fh5co-logo" >
								<a href="{{ url_for('index') }}">
								<img src="{{ url_for('static', filename='images/logo.png') }}">
								<h3>Brigada Solidaria</h3>
								</a>
							</div>
							<!--START #fh5co-menu-wrap -->
							<nav id="fh5co-menu-wrap" role="navigation">
	    						<ul class="sf-menu" id="fh5co-primary-menu"> 
									{% block menu %} {% endblock %}
								</ul>
							</nav>
						</div>
					</div>
				</header>
			</div>
	
	
	<main>
		{% block content %}
		{% endblock %}
	</main>

		<footer>
			<div id="footer">
				<div class="container">
					<div class="row copy-right">
						<div class="col-md-6 col-md-offset-3 text-center">
							</p><a href="#">Brigada Solidaria</a>. Todos los derechos reservados.<br>
							Hecho con  <i class="icon-heart3"></i> por el equipo
							<a href="https://brigadasolidaria.com" target="_blank">Brigada Solidaria</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>


	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->

	
	<script src="{{url_for('static', filename = 'js/jquery.min.js') }}"></script>
	<!-- jQuery Easing -->
	<script src="{{url_for('static', filename = 'js/jquery.easing.1.3.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
	<!-- Waypoints -->
	<script src="{{url_for('static', filename = 'js/jquery.waypoints.min.js') }}"></script>
	<!-- Superfish -->
	<script src="{{url_for('static', filename = 'js/hoverIntent.js') }}"></script>
	<script src="{{url_for('static', filename = 'js/superfish.js') }}"></script>
	<!-- Flexslider -->
	<script src="{{url_for('static', filename = 'js/jquery.flexslider-min.js') }}"></script>

	<!-- Main JS (Do not remove) -->
	<script src="{{url_for('static', filename = 'js/main.js') }}"></script>
	{% block script %}
	{% endblock %} 

</body>
</html>
	