{% extends "base.html" %}

{% block title %}Buscar Centros - Brigada Solidaria{% endblock %}

{% block menu %}
								<li>
									<a href="{{ url_for('index') }}">Inicio</a>
								</li>
								<li><a href="{{ url_for('centros') }}">Centros</a></li>
								<li><a class="active" href="{{ url_for('buscar_centros') }}" class="fh5co-sub-ddown">Buscar Centros</a></li>
								<li><a href="{{ url_for('sobre_nosotros') }}">Sobre nosotros</a></li>
								<li><a href="{{ url_for('nuevos_centros') }}">Nuevos centros</a></li>
{% endblock %}

{% block content %}
		<!-- end:fh5co-header -->
		<aside id="fh5co-hero" class="js-fullheight">
			<div class="flexslider js-fullheight">
				<ul class="slides">
				<li>
			   		<div class="overlay-gradient"></div>
			   		<div class="container">
			   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
			   				<div class="slider-text-inner desc">
			   					<h2 class="heading-section">BUSCAR CENTROS</h2>
			   				</div>
			   			</div>
			   		</div>
			   	</li>
				   <div class="slider-bg"></div>
			  	</ul>
		  	</div>
		</aside>
		<div id="fh5co-services-section">
			<div class="container">
				<div class="row">
					<div class="col-md-5 text-center">
						<div class="services-inner">
							<form action="{{url_for('formato_centros')}}">
								<label for="nombre">Buscar por nombre:</label>
								<input type="text" id="nombre" name="nombre" placeholder="Nombre">
								<input type="submit"value="Buscar">
							</form>
						</div>
					</div>
					<div class="col-md-5 text-center">
						<div class="services-inner">
							<form action="{{url_for('formato_centros')}}">
								<label for="capacidad">Buscar por capacidad:</label>
								<input type="text" id="capacidad" name="capacidad" placeholder="Capacidad">
								<input type="submit"value="Buscar">
							</form>
						</div>
					</div>
					<div class="col-md-5 text-center">
						<div class="services-inner">
							<form action="{{url_for('formato_centros')}}">
								<label for="direccion">Buscar por dirección:</label>
								<input type="text" id="direccion" name="direccion" placeholder="Direccion">
								<input type="submit"value="Buscar">
							</form>
						</div>
					</div>
					<div class="col-md-5 text-center">
						<div class="services-inner">
							<form action="{{url_for('formato_centros')}}">
								<label for="comuna">Buscar por comuna:</label>
								<input type="text" id="comuna" name="comuna" placeholder="Comuna">
								<input type="submit"value="Buscar">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}


{% block script %}
{% endblock %}


