{% extends "base.html" %}

{% block title %}Buscar Centros - Brigada Solidaria{% endblock %}

{% block menu %}
								<li>
									<a href="{{ url_for('index') }}">Inicio</a>
								</li>
								<li><a href="{{ url_for('centros') }}">Centros</a></li>
								<li><a class="active" href="{{ url_for('buscar_centros') }}" class="fh5co-sub-ddown">Buscar Centros</a></li>
								<li><a href="{{ url_for('sobre_nosotros') }}">Sobre nosotros</a></li>
								<li><a href="{{ url_for('nuevos_centros') }}">Nuevos centros</a></li>
{% endblock %}

{% block content %}
		<!-- end:fh5co-header -->
		<aside id="fh5co-hero" class="js-fullheight">
			<div class="flexslider js-fullheight">
				<ul class="slides">
				<li>
			   	<div class="overlay-gradient"></div>
			   		<div class="container">
			   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
			   				<div class="slider-text-inner desc">
			   					<h2 class="heading-section">Buscar Centros</h2>
			   				</div>
			   			</div>
			   		</div>
			   	</li>
				   <div class="slider-bg"></div>
			  	</ul>
		  	</div>
		</aside>
		<div id="fh5co-services-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="services-inner text-center">
							<img src="{{ url_for('static', filename='images/b-engineer.svg') }}" alt="blueprint">
							<h3>Voluntarios</h3>
							<p>A lo largo de los centros que están adheridos en este proyecto encontramos a un total de 120 personas que colaboran para brindarle un refugio a las personas que lo necesitan.</p>
						</div>
					</div>
					<div class="col-md-4 text-center">
						<div class="services-inner">
							<img src="{{url_for('static', filename = 'images/b-compass.svg')}}" alt='blueprint'>
							<h3>Personas asitidas</h3>
							<p>En este ultimo mes contamos con una cantidad de 1.150 personas que han podido encontrar un lugar donde sentirse mejor.</p>
						</div>
					</div>
					<div class="col-md-4 text-center">
						<div class="services-inner">
							<img src="{{url_for('static', filename = 'images/b-blueprint.svg')}}" alt='blueprint'>
							<h3>Centros Activos</h3>
							<p>Poseemos 5 centros a lo largo de la Ciudad de Buenos Aires, con el objetivo de que se adhieran más a medida que va pasando el tiempo.</p>
						</div>
					</div>
					<div class="col-md-4 text-center">
						<div class="services-inner">
							<img src="{{url_for('static', filename = 'images/b-hammer.svg')}}" alt='blueprint'>
							<h3>Centros Añadidos </h3>
							<p>Gracias a la divulgación del sitio, se pudieron añadir en este ultimo mes dos centros. Esto permite que más personas puedan acceder a la información de un manera más inmediata.</p>
						</div>
					</div>
					<div class="col-md-4 text-center">
						<div class="services-inner">
							<img src="{{url_for('static', filename = 'images/b-hotel.svg')}}" alt='blueprint'>
							<h3>Personas Asistidas</h3>
							<p>Logramos cumplir con aproximadamente 13.200 personas asistidas anualmente.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}


{% block script %}

	<script src="{{url_for('static', filename = 'js/jquery.min.js') }}"></script>
	<!-- jQuery Easing -->
	<script src="{{url_for('static', filename = 'js/jquery.easing.1.3.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
	<!-- Waypoints -->
	<script src="{{url_for('static', filename = 'js/jquery.waypoints.min.js') }}"></script>
	<!-- Superfish -->
	<script src="{{url_for('static', filename = 'js/hoverIntent.js') }}"></script>
	<script src="{{url_for('static', filename = 'js/superfish.js') }}"></script>
	<!-- Flexslider -->
	<script src="{{url_for('static', filename = 'js/jquery.flexslider-min.js') }}"></script>

	<!-- Main JS (Do not remove) -->
	<script src="{{url_for('static', filename = 'js/main.js') }}"></script>

{% endblock %}


