{% extends "base.html" %}

{% block title %}Nuevos Centros - Brigada Solidaria{% endblock %}

{% block menu %}
								<li>
									<a href="{{ url_for('index') }}">Inicio</a>
								</li>
								<li><a href="{{url_for('centros')}}">Centros</a></li>
								<li><a href="{{url_for('buscar_centros') }}" class="fh5co-sub-ddown">Buscar centros</a></li>
								<li><a href="{{url_for('sobre_nosotros')}}">Sobre nosotros</a></li>
								<li><a class="active" href="{{url_for('nuevos_centros')}}">Nuevos centros</a></li>
{% endblock %}

{% block content %}
		<!-- end:fh5co-header -->
		<aside id="fh5co-hero" class="js-fullheight">
			<div class="flexslider js-fullheight">
				<ul class="slides">
				<li>
			   		<div class="overlay-gradient"></div>
			   		<div class="container">
			   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
			   				<div class="slider-text-inner desc">
			   					<h2 class="heading-section">NUEVOS CENTROS</h2>
			   				</div>
			   			</div>
			   		</div>
			   	</li>
				   <div class="slider-bg"></div>
			  	</ul>
		  	</div>
		</aside>
		<div id="fh5co-contact-section">
			<div class="container">
				<form action="http://127.0.0.1:5001/api/v1/anadircentros" methods="POST" class="contact-form">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="nombre"></label>
										<input type="text" name="nombre" class="form-control" placeholder="Nombre" required>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="direccion"></label>
										<input type="text" name="direccion" class="form-control" placeholder="Direccion" required>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="comuna"></label>
										<input type="int" name="comuna" class="form-control" placeholder="Comuna" required>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="capacidad"></label>
										<input type="int" name="capacidad" class="form-control" placeholder="Capacidad" required>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="contacto"></label>
										<input type="int" name="contacto" class="form-control" placeholder="Contacto" required>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label for="instalaciones"></label>
										<textarea type="text" name="instalaciones" class="form-control" cols="30" rows="7" placeholder="Instalaciones" required></textarea>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="añadir" value="Anadir Centro" class="btn btn-primary">
									</div>
								</div>
							</div> 
				</form>
			</div>
		</div>
		<!-- END fh5co-contact -->
	</div>
{% endblock %}

{% block script %}
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="{{url_for('static', filename = 'js/google_map.js')}}"></script>

{% endblock %}

