{% extends "base.html" %}

{% block title %}Sobre Nosotros - Brigada Solidaria{% endblock %}

{% block menu %}
								<li>
									<a href="{{ url_for('index') }}">Inicio</a>
								</li>
								<li><a href="{{ url_for('centros') }}">Centros</a></li>
								<li><a href="{{ url_for('buscar_centros') }}" class="fh5co-sub-ddown">Buscar Centros</a></li>
								<li><a class="active" href="{{ url_for('sobre_nosotros') }}">Sobre nosotros</a></li>
								<li><a href="{{ url_for('nuevos_centros') }}">Nuevos centros</a></li>
{% endblock %}

{% block content %}
		<!-- end:fh5co-header -->
		<aside id="fh5co-hero" class="js-fullheight">
			<div class="flexslider js-fullheight">
				<ul class="slides">
				<li>
			   	<div class="overlay-gradient"></div>
			   		<div class="container">
			   		<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
			   			<div class="slider-text-inner desc">
			   				<h2 class="heading-section">SOBRE NOSOTROS</h2>
			   			</div>
			   		</div>
			   		</div>
			   	</li>
				   <div class="slider-bg"></div>
			  	</ul>
		  	</div>
		</aside>
		<div id="fh5co-team-section">
			<div class="container">
				<div class="row about">
					<div class="col-md-6">
						<h2>MISIÓN</h2>
						<p>Buscamos brindar información sobre los centros de ayuda comunitaria a lo largo de CABA (Ciudad Autónoma de Buenos Aires). En estos encontrarán camas, lugares de aseo, comida, y muchos recursos más para abastecer las necesidades básicas. Esperamos que sea un sitio web de fácil uso para el acceso de todos.</p>
					</div>
					<div class="col-md-6">
						<h2>VISIÓN</h2>
						<p>Junto al proyecto Brigada Solidaria apuntamos a poder ayudar a la mayor cantidad de personas en situación de calle, todos los días buscamos actualizar información sobre nuevos centros o sobre los horarios de atención de nuestros voluntarios. Esperamos que estos puedan ser un espacio de contención física y emocional.</p>
					</div>
				</div>
				
					<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
						<h2>EQUIPO</h2>
						<p>Esta compuesto por cuatro estudiantes de Ingeniería Informática que, ante esta problemática, buscan dar solución a traves de sus conocimientos.</p>
					</div>
					<div class="col-md-6 col-md-offset-3 text-center fh5co-staff">
						<img src="{{ url_for('static', filename='images/person1.jpg') }}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
						<h3>Catalina, Debora, Sara y Jazmin</h3>
						<h4>Estudiantes de Ingenieria</h4>
						<p>A partir de un proyecto de la facultad vimos la necesidad de crear un sitio web en el cual se brinde información para ayudar a personas que se encuentran en situacion de calle. Creemos que debe ser visibilizado para que cumpla con nuestra misión y visión del proyecto.</p>
					</div>
				
			</div>
		</div>
		
{% endblock %}

{% block script %}

	<script src="{{url_for('static', filename = 'js/jquery.min.js') }}"></script>
	<!-- jQuery Easing -->
	<script src="{{url_for('static', filename = 'js/jquery.easing.1.3.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
	<!-- Waypoints -->
	<script src="{{url_for('static', filename = 'js/jquery.waypoints.min.js') }}"></script>
	<!-- Superfish -->
	<script src="{{url_for('static', filename = 'js/hoverIntent.js') }}"></script>
	<script src="{{url_for('static', filename = 'js/superfish.js') }}"></script>
	<!-- Flexslider -->
	<script src="{{url_for('static', filename = 'js/jquery.flexslider-min.js') }}"></script>

	<!-- Main JS (Do not remove) -->
	<script src="{{url_for('static', filename = 'js/main.js') }}"></script>

{% endblock %}


