
<!-- <!DOCTYPE html>
 <html class="no-js"> 
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Brigada Solidaria &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	-- Place favicon.ico and apple-touch-icon.png in the root directory -
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">
	
	<!- Animate.css --
	<link rel="stylesheet" href="{{ url_for('css', filename='animate.css') }}">
	<!- Icomoon Icon Fonts--
	<link rel="stylesheet" href="{{ url_for('css', filename='icomoon.css') }}">
	<!- Bootstrap  --
	<link rel="stylesheet" href="{{ url_for('css', filename='bootstrap.css') }}">
	<- Superfish -
	<link rel="stylesheet" href="{{ url_for('css', filename='superfish.css') }}">
	<!- Flexslider --
	<link rel="stylesheet" href="{{ url_for('css', filename='flexslider.css') }}">

	<link rel="stylesheet" href="{{ url_for('css', filename='style.css') }}">


	<script src="{{ url_for('static', 'js/modernizr-2.6.2.min.js') }}"></script>
	

	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">
		<div id="fh5co-header">
			<header id="fh5co-header-section">
				<div class="container">
					<div class="nav-header">
						<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
						<h1 id="fh5co-logo"><a href="{{ url_for('index') }}"><i class="icon-home2"></i>Beam</a></h1>
						<!- START #fh5co-menu-wrap -
						<nav id="fh5co-menu-wrap" role="navigation">
							<ul class="sf-menu" id="fh5co-primary-menu"> -->
								<li>
									<a href="{{ url_for('index') }}">Inicio</a>
								</li>
								<li><a href="{{ url_for('centros') }}">Centros</a></li>
								<li><a href="{{ url_for('estadisticas') }}" class="fh5co-sub-ddown">Estadisticas</a></li>
								<li><a class="active" href="{{ url_for('sobre_nosotros') }}">Sobre nosotros</a></li>
								<li><a href="{{ url_for('nuevos_centros') }}">Nuevos centros</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</header>		
		</div>
		<!-- end:fh5co-header -->
		<aside id="fh5co-hero" class="js-fullheight">
			<div class="flexslider js-fullheight">
				<ul class="slides">
			   	<li style="background-image: url(images/portada.jpg);">
			   		<div class="overlay-gradient"></div>
			   		<div class="container">
			   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
			   				<div class="slider-text-inner desc">
			   					<h2 class="heading-section">Sobre nosotros</h2>
			   				</div>
			   			</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>
		<div id="fh5co-team-section">
			<div class="container">
				<div class="row about">
					<div class="col-md-6">
						<h2>Mision</h2>
						<p>Brigada solidaria brinda datos de los centros de ayuda comunitaria a lo largo de la ciudad de Buenos Aires en donde encontraran camas, duchas, alimentos y todos los elementos necesarios para abastecer las necesidades basicas.</p>
					</div>
					<div class="col-md-6">
						<h2>Visión</h2>
						<p>Visión, el objetivo de este proyecto es que toda persona en situación de calle tenga la oportunidad de asistir a un centro en el cual pueda cubrir sus necesidades y encontrar un refugio tanto a nivel emocional como asi también alimento y refugio habitacional.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
						<h2>El equipo</h2>
						<p>Esta compuesto por cuatro estudiantes de Ingeniería Informática que, ante esta problemática, buscan dar solución a traves de sus conocimientos.</p>
					</div>
					<div class="col-md-4 fh5co-staff">
						<img src="images/person1.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive">
						<h3>Catalina, Debora, Sara y Jazmin</h3>
						<h4>Estudiantes de Ingenieria</h4>
						<p>Texto corto sobre nosotras y nuestra historia</p>
					</div>
				</div>
			</div>
		</div>
	</div>
		<footer>
			<div id="footer">
				<div class="container">
					
					<div class="row copy-right">
						<div class="col-md-6 col-md-offset-3 text-center">
							
							<p>&copy; 2024 IDS <a href="#">Brigada Solidaria</a>.Todos los derechos reservados. <br>Hecho con<i class="icon-heart3"></i> by <p>estudiantes de Ingenieria</p>/ Demo Images: <a href="https://unsplash.com/" target="_blank">Unsplash </a>,<a href="https://pexels.com/" target="_blank"> Pexels</a> <br> Colored Icons: <a href="http://flaticon.com" target="_blank">Flaticon</a>
						</div>
					</div>
				</div>
			</div>
		</footer>
	

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->


	<script src="{{url_for('static', filename = 'js/jquery.min.js') }}"></script>
	<!-- jQuery Easing -->
	<script src="{{url_for('static', filename = 'js/jquery.easing.1.3.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
	<!-- Waypoints -->
	<script src="{{url_for('static', filename = 'js/jquery.waypoints.min.js') }}"></script>
	<!-- Superfish -->
	<script src="{{url_for('static', filename = 'js/hoverIntent.js') }}"></script>
	<script src="{{url_for('static', filename = 'js/superfish.js') }}"></script>
	<!-- Flexslider -->
	<script src="{{url_for('static', filename = 'js/jquery.flexslider-min.js') }}"></script>

	<!-- Main JS (Do not remove) -->
	<script src="{{url_for('static', filename = 'js/main.js') }}"></script>

	</body>
</html>

